/* Resetando margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Acme", sans-serif;
    line-height: 1.6;
    background-color: #B8CCD9;
    color: #333;
    margin: 0;
}

header {
    background-color: #4F6C73;
    color: #fff;
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.header-photo {
    flex: 1;
    text-align: center;
}

.header-photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #FED1A8;
}

.header-info {
    flex: 2;
    text-align: left;
    padding-left: 20px;
}

.header-info h1 {
    margin-bottom: 10px;
}

.header-info p {
    margin: 5px 0;
}

.header-info a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

section {
    margin-bottom: 20px;
}

#sobre, #contato, #habilidades, #experiencias, #timeline, #info-complementares {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: justify;
}

#habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.habilidade-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.habilidade-item {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1 1 calc(33.333% - 20px);
    text-align: center;
    margin-bottom: 20px;
}

#experiencias .experiencia {
    background: #f9f9f9;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#experiencias .descricao {
    flex: 1;
}

#timeline {
    padding: 20px;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timeline-item {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}

.timeline-item:before {
    position: absolute;
    top: 15px;
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

form button {
    background-color: #4F6C73;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover {
    background-color: #F27830;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4F6C73;
    color: #fff;
    margin-top: 20px;
}
